.header {
  background-color: var(--color-dark-green-3);
  color: var(--color-white-text);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Allow wrapping */
}

.header-left {
    display: flex;
    align-items: center;
}

.header-left a {
    text-decoration: none; /* Remove underline from the link */
    color: inherit; /* Inherit color from parent */
    display: flex; /* Use flexbox to align logo and text */
    align-items: center; /* Vertically align logo and text */
}

.header-logo {
    height: 40px; /* Adjust size as needed */
    margin-right: 10px;
}

.header h1 {
    margin: 0;
    color: var(--color-white-text);
    font-size: 1.5em;
}

.full-title {
    display: block; /* Show full title by default */
}

.short-title {
    display: none; /* Hide shorter title by default */
}

.header-right {
    display: flex; /* Use flexbox for navigation links */
    align-items: center;
    flex-wrap: wrap; /* Allow navigation links to wrap if needed */
}

.header-right a {
  color: var(--color-white-text);
  text-decoration: none;
  margin-left: 20px;
  font-size: 1.1em;
}

.header-right a.active {
  background-color: var(--color-primary-green);
  padding: 5px 10px;
  border-radius: 5px;
}

/* Media query to show shorter title and hide full title on small screens */
@media (max-width: 600px) { /* Adjust breakpoint as needed */
  .full-title {
    display: none;
  }

  .short-title {
    display: block;
  }
}
