.header {
  background-color: var(--color-dark-green-3);
  color: var(--color-white-text);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-logo {
    height: 40px; /* Adjust size as needed */
    margin-right: 10px;
}

.header h1 {
    margin: 0;
    color: var(--color-white-text);
    font-size: 1.5em;
}

.header-right a {
  color: var(--color-white-text);
  text-decoration: none;
  margin-left: 20px;
  font-size: 1.1em;
}

.header-right a.active {
  background-color: var(--color-primary-green);
  padding: 5px 10px;
  border-radius: 5px;
}