.LabInfo {
  padding: 50px 0;
  text-align: center;
}

.LabInfo h3 {
  font-size: 2em;
  margin-bottom: 40px;
}

.info-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.info-box {
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  text-align: left;
}

.info-box h4 {
  margin-top: 0;
  font-size: 1.3em;
  margin-bottom: 10px;
}

.info-box p {
  font-size: 1em;
  line-height: 1.5;
}
